<div class="main-card mb-3 card mt-4 card-hover-shadow">
  <div class="card-header">
    <div class="card-header-title">
      <i class="fa fa-edit mr-2"></i>
      Position Form
    </div>
  </div>

  <div class="card-body overflow-auto">
    <%= form_with(model: position) do |f| %>

      <div class="mb-3">
        <div><%= f.label :name, class: "col-form-label" %></div>
        <div><%= f.text_field :name, autofocus: true, class: "form-control" %></div>
      </div>

      <%= f.submit "Submit", class: "mt-3 col-lg-12 btn btn-success p-2" %>
    <% end %>
  </div>
</div>