<style>
  .display-4 strong {
      color: #008DFB !important;
  }
  h2 {
      color: #28A745 !important;
  }
  strong {
      color: #efc418;
  }
</style>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"> <strong>Club Inventory Management System <br> CIMS</strong> </h1>
    <hr class="my-4">
    <div class="text-justify">
        <h2>A Minor Project</h2>

        <p>
          <strong>Course Code:</strong> CS254<br>
          <strong>Course Title:</strong> DBMS LAB<br>
          <strong>Semester:</strong> B. Tech 4 th Sem<br>
          <strong>Section:</strong> S1<br>
          <strong>Academic Year:</strong> 2020-21<br>
          <strong>Course Instructors:</strong> Dr. Annappa B and Mr. Sharath Yaji
        </p>

        <hr>
        <p>
          <h2> Team Members: </h2>
          <li>Ishaan Singh, 191CS124, 9739492999, asishaan.191cs124@nitk.edu.in</li>
          <li>Ikjot Singh Dhody, 191CS123, 9885920911, ikjotsd.191cs123@nitk.edu.in</li>
          <li>Aakarshee Jain, 191CS102, 9900139701, pradeepartigmailcom.191cs102@nitk.edu.in</li>
        </p>
        <hr>

        <h2>Brief Description:</h2>

        <p>Every club in NITK has an inventory where they store common items that belong to the club. 
        Such items can be borrowed by the members of the club for their own personal use or can be used by the club for upcoming events, etc. 
        However, currently (at the time this readme was written), even as part of IRIS or otherwise, there is no common platform that can manage this data for all clubs.</p>

        <p>On our web application, club members will be able to access the club’s inventory and request for items. 
        These items will be queued in a request table. Each of these requests can be approved by the designated leads in that club, like the Convenor or the Inventory Manager.</p>

        <p>Once approved, the member can use the item as long as the deadline allows and then, return it to the inventory after use. 
        This action will be logged in the database and accordingly, a list of available items will be displayed to the other members of the club for request.</p>

        <p>Clubs will be able to keep a track of their inventory, which would otherwise be a very manual task. 
        This automation will allow club members and supervisors get work done easily by streamlining the request-approval workflow.</p>

        <p>Through our mini-project, we aim to provide such an interface that could later be incorporated as a package in the clubs’ own websites or as a part of IRIS.</p>

        <hr>
        <h2>Key Features:</h2>
        <li>Clubs and Members Database</li>
        <li>Inventory Table for storing items of the club</li>
        <li>Members can request for items</li>
        <li>Approval flow for item requests</li>
        <li>Member Dashboard</li>

        <hr>
        <div>
        <h2>Software Specifications:</h2>
        <li>Frontend: HTML, CSS, JS, Bootstrap</li>
        <li>Backend: Ruby on Rails</li>
        <li>Database: MySQL</li>
        </div>

        <hr>
        <h2>References:</h2>
        <li><a href="https://www.youtube.com/watch?v=tVVQLMKCpj0" target="_blank">Ruby on Rails 5 Absolute Beginner Tutorial</a></li>
      <hr class="my-4">
    </div>
    <div class="btn-group" role="group">
      <a class="btn btn-outline-primary" target="_blank" href="https://www.linkedin.com/in/ishaan1901/"> Ishaan Singh </a>
      <a class="btn btn-outline-secondary" target="_blank" href="https://www.linkedin.com/in/ikjot-singh-dhody-aa64911a4/"> Ikjot Singh Dhody </a>
      <a class="btn btn-outline-success" target="_blank" href="https://www.linkedin.com/in/aakarshee-jain-065b211a7/"> Aakarshee Jain </a>
    </div>
  </div>
</div>