<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"> About Me </h1>
    <hr class="my-4">
    <div class="row">
      <p style="text-align: justify">
        I do not want a strike for this. Saved 10 hrs of our work.
      </p>
      <hr class="my-4">
    </div>
    <div class="btn-group" role="group" aria-label="Basic Example">
      <button class="btn btn-secondary"> Left </button>
      <button class="btn btn-secondary"> Middle </button>
      <button class="btn btn-secondary"> Right </button>
    </div>
  </div>
</div>ge