<% if @item.errors.any? %>
  <div class="alert alert-danger pt-3 pb-3 mb-0">
    <strong>The following errors prevented the action</strong>
    <ul class="mb-0">
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="main-card mb-3 card mt-4 card-hover-shadow">
  <div class="card-header">
    <div class="card-header-title">
      <i class="fa fa-edit mr-2"></i>
      New Item Form
    </div>
  </div>
  <%= render 'form', item: @item %>
</div>